ASPNETCORE__ENVIRONMENT=Production
ConnectionStrings__DefaultConnection=Host=Host=localhost;Port=5480;Database=watchhive;Username=admin;Password=secret
JwtSettings__AccessTokenExpirationMinutes=
JwtSettings__RefreshTokenExpirationDays=
JwtSettings__Issuer=
EmailConf__Email=
EmailConf__Password=
EmailConf__Host=
EmailConf__Port=
EmailConf__TestRecipient=

CLIENT_ID=watch-hive-web
# echo -n "some-really-long-phrase" | base64 # Used to generate the client secret
CLIENT_SECRET=MySuperSecureAndRandomKeyThatLooksJustAwesomeAndNeedsToBeVeryVeryLong!!!111oneeleven
CLIENT_NAME=Watch Hive Web Application
CLIENT_URL=https://localhost:5173

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

TMDB__ApiKey=

# Configure these to use resend to send emails - Check EmailService.cs to see how it has been used
Resend__ApiKey=
EmailConf__From=WatchHive <noreply@yourdomain> # Must be in that format "Name <blablabla@yourdomain.com>"

# System admin
ADMIN_EMAIL=
ADMIN_FULLNAME=
ADMIN_PASS=

# Optional users to be seeded
USER1_EMAIL=
USER1_FULLNAME=
USER1_PASS=

USER2_EMAIL=
USER2_FULLNAME=
USER2_PASS=

USER3_EMAIL=
USER3_FULLNAME=
USER3_PASS=